<div class="user-info">
  <!-- user welcome -->
  <div class="user-welcome">
    <!-- //right info -->
    <div class="right-info">
        <div class="profile-info">
          <img src="../../../../assets/profile.svg" height="60" width="60">

          <div class="welcome">
            <span>welcome back</span>
            <p>Sam Eissa!</p>
          </div>

        </div>

        <div class="login-info">
            <h5>Last Login Time:</h5>
            <p>3 days ago - Feb 5, 2023</p>
        </div>

    </div>
    <!-- cover welcome -->
    <div class="left-cover">
      <img src="../../../../assets/cover.png" width="120" height="100">
    </div>
  </div>

  <!-- //subscription status -->
  <div class="status">
    <h3>subscription Status</h3>
    <div class="circle-status">
      <img src="../../../../assets/circle.svg" alt="circle">
      <p>2 Months remaining in the subscription</p>
    </div>
  </div>

  <!-- Registartion Data -->
  <div class="status">
    <h3>Registartion Date</h3>
    <span>January 15, 2024</span>
    <div class="circle-status">
      <img src="../../../../assets/calender.svg" alt="circle">
      <p>End Date: January 15, 2024</p>
    </div>
  </div>
</div>
