$mainColor: rgba(11, 16, 42, 1);
// $mainColor: linear-gradient(to bottom, rgba(6, 11, 40, 0.94), rgba(10, 14, 35, 0.49));

$mainWhite: rgba(255, 255, 255, 0.15);
$white: rgba(255, 255, 255, 1);
$whiteInfo:rgba(230, 236, 240, 1);

