<!-- <header class="d-flex">
  <app-sidebar></app-sidebar>
  <app-header></app-header>
</header>
<main>
    <app-user-info></app-user-info>
    <app-enrollment></app-enrollment>

    <div>
      <app-trending-items></app-trending-items>
      <div>
        <app-peak-times></app-peak-times>
        <app-skills></app-skills>
      </div>
      <app-resources></app-resources>
    </div>
    <app-watching-overview></app-watching-overview>
</main>


<footer></footer> -->

<!-- <div class="layout">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <app-header class="header"></app-header>
    <main class="main">
      <app-user-info></app-user-info>
      <app-enrollment></app-enrollment>

      <div>
        <app-trending-items></app-trending-items>
        <div>
          <app-peak-times></app-peak-times>
          <app-skills></app-skills>
        </div>
        <app-resources></app-resources>
      </div>
      <app-watching-overview></app-watching-overview>
    </main>
  </div>
</div>

<footer></footer> -->

<div class="layout">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <app-header class="header"></app-header>
    <main class="main">
      <app-user-info></app-user-info>
      <app-enrollment></app-enrollment>
      <app-watching-overview></app-watching-overview>
      <div class="info">
        <app-trending-items></app-trending-items>
        <div class="second-part">
          <app-peak-times></app-peak-times>
          <app-skills></app-skills>
        </div>
        <app-resources></app-resources>
      </div>
      <app-completed></app-completed>
    </main>
  </div>
</div>

<app-footer></app-footer>
